*.png
*.gif
*.webp
*.avif
out/
tmp/
*.yaml
!example.config.yaml
!terraform/config.template.yaml
!docker-compose.yaml
!.github/**/*.yaml
*-gqlgen.go
*_gen.go
node_modules/
internal/rest/v*/docs
.vscode/
go.work
go.work.sum
!.golangci.yaml

# Terraform local state files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
